//http://reactcommunity.org/react-transition-group/with-react-router/

.page {
  position: absolute;
  min-height: 100vh;
  right: 0;
  left: 0;
  height: 100%;
  background-color: #f5f5f5;
  @media(max-width: 900px) {
    padding-top: 0;
  }
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
