*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 20px !important;
  @media (max-width: 800px) {
    font-size: 19px !important;
  }
}

body {
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  //Make scrollbar above content (chrome + safari)
  overflow-y: scroll;
  overflow-y: overlay;
}



