*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 20px !important;
  overflow-x: scroll;
  @media (max-width: 800px) {
    font-size: 18px !important;
  }
}

body {
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box !important;
  height: 100%;
  width: 100%;
  //Make scrollbar above content (chrome + safari)
  overflow-y: scroll;
  overflow-y: overlay;
  background-color: #f5f5f5;
}



